extends layout

block content
  h1= title

  p age : 
    if (driver.age)
    |  (#{driver.age})

  p missions assigned :
  
  ul
    each mission in missions_assigned
      li #[a(href=mission.url) #{mission.id}]

    else
        li There are no mission assigned to this driver.

  hr

  div.action-links
    a(href=driver.url+'/delete') Delete
    a(href=driver.url+'/update') Update